# Default ignored files
/.gradle/
/.idea/
/local.properties
/E-imzo Sample.iml

#.idea
horcrux/build
horcrux/horcrux.iml
/.idea/caches/
/.idea/codeStyles/
/.idea/libraries/
/.idea/.gitignore
/.idea/.name
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml

#.gradle
/.gradle/5.6.4/
/.gradle/buildOutputCleanup/
/.gradle/vcs-1/

#app
/app/build/
/app/build/generated/
/app/build/intermediates/
/app/build/kotlin/
/app/build/outputs/
/app/build/tmp/
/app/app.iml

#horcrux
/horcrux/build/
/horcrux/horcrux-horcrux.iml
